.notes-section {
  background-color: #f4f4f9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.notes-section ul {
  display: grid;
  grid-template-columns: repeat(4, 0.3fr);
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  gap: 30px;
}

.notes-section li {
  list-style: none;
  padding: 40px 0px;
}
/* .notes-section li:hover {
  transform: rotateY(360deg);
  transition: 1s;
} */
